@font-face {
    font-family: "Brown-Bold-Pro";
    src: url("./lineto-brown-pro-regular.woff") format('woff');
}

* {
    margin: 0 auto;
}

p {
    padding: 17px 30px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #252a2c;
}

body {
    background-color: #252a2c;
    color: #dcfd00;
    font-family: 'Brown-Bold-Pro', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

p:hover, p.selected {
    background-color: #dcfd00;
    color:#252a2c;
}

.saveprofile p.selected, .saveprofile p:hover {
    background-color: #00b8fc;
    color:#fff;
}

.saveprofile p {
    background-color: #32373a;
    font-size: 9px;
    color: #00b8fc;
}

.setup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    display: none;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    display: none;
}

